[Unit]
Description=SCION Timeservice Client
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/ubuntu/scion-time/testnet/duo
ExecStartPre=timedatectl set-ntp false
ExecStart=/home/ubuntu/scion-time/timeservice client -verbose -config client.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
